<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-info">
					<div class="panel-body"><strong>Content: </strong><%= @task.content %></div>
					<div class="panel-footer"><strong>State: </strong><%= @task.state %></div>
			</div>

	<%= link_to 'Edit Task', edit_task_path(@task), class: 'btn btn-info btn-block' %>
	<%= link_to 'Task Manager', tasks_path, class: 'btn btn-info btn-block' %>
	
	</div>
</div>

