<h1>Testing</h1>
<div class="row">
	<div class="col-md-4">
		<h1>To-Do</h1>
			<div class="panel panel-info">
				<div class="panel-heading">My To-Do</div>
					<div class="panel-body">This is my to-do list</div>
					<div class="panel-footer">Footer for the to-do list</div>
			</div>
	</div>

	<div class="col-md-4">
		<h1>Doing</h1>
			<div class="panel panel-info">
				<div class="panel-heading">Current Tasks</div>
					<div class="panel-body">This is my to-do list</div>
					<div class="panel-footer">Footer for the to-do list</div>
			</div>
	</div>

	<div class="col-md-4">
		<h1>Done</h1>
			<div class="panel panel-info">
				<div class="panel-heading">Complete</div>
					<div class="panel-body">This is my to-do list</div>
					<div class="panel-footer">Footer for the to-do list</div>
			</div>
	</div>
</div>